.reset {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-weight: 400;
  font-family: "PFCentroSansPro";
  font-style: normal;
  src: url("../fonts/PFCentroSansPro-Regular.woff2") format("woff2"), url("../fonts/PFCentroSansPro-Regular.woff") format("woff");
}
.header-new__wrap {
  width: 1136px;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;
  padding-top: 15px;
  border-bottom: 1px solid #000;
}
.header-new__wrap--catalog {
  width: 1170px;
}
.logo-new {
  margin-bottom: 15px;
}
.menu--new {
  font-family: "PFCentroSansPro", "Arial", sans-serif;
  background-color: transparent;
  padding: 15px 0;
}
.menu--new .menu__link {
  color: #000;
  font-weight: 400;
  padding: 10px 32px;
}
.menu--new .menu__link:hover,
.menu--new .menu__link:active {
  color: #d6ad70;
}
.menu--new .menu__item:hover .menu__link {
  background-color: transparent;
}
.menu--new .menu__list {
  width: 1136px;
}
.features-new {
  width: 1136px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.features-new__img {
  margin-bottom: 35px;
}
.features-new__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: baseline;
      align-items: baseline;
}
.features-new__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  font-size: 20px;
}
.features-new__item:first-child {
  width: 31%;
}
.features-new__item:nth-child(2) {
  width: 30%;
}
.features-new__item:nth-child(3) {
  width: 35%;
}
.features-new__icon {
  margin-bottom: 15px;
}
.main-h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
.clients {
  width: 1136px;
  margin: 0 auto;
  padding: 45px 40px;
  padding-top: 20px;
  padding-bottom: 35px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #73bdfb, #e2f5f4);
}
.clients__list {
  list-style-type: disc;
  padding-left: 20px;
  padding-top: 10px;
}
.clients__item {
  margin-bottom: 15px;
}
.footer-new__wrap {
  width: 1136px;
  margin: 0 auto;
  padding-top: 47px;
  padding-bottom: 80px;
  border-top: 1px solid #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.footer-new__wrap--catalog {
  width: 1170px;
}
.footer-new__link {
  font-size: 36px;
  font-weight: 600;
  color: #504f50;
  padding-left: 35px;
  position: relative;
}
.footer-new__link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
}
.footer-new__link:first-of-type::before {
  background-image: url(../img/mobile.png);
}
.footer-new__link:last-of-type::before {
  background-image: url(../img/phone.png);
}
.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.social__link {
  width: 51px;
  height: 51px;
  margin-right: 20px;
  background-repeat: no-repeat;
}
.social__link:first-child {
  background-image: url(../img/fb.png);
}
.social__link:nth-child(2) {
  background-image: url(../img/vk.png);
}
.social__link:nth-child(3) {
  width: 48px;
  height: 48px;
  background-image: url(../img/tg.png);
  margin-right: 0;
}
.social__link:hover,
.social__link:active {
  opacity: 0.7;
}
.catalog__wrap-new {
  width: 1245px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.swiper-slide-1 {
  width: 354px;
  height: 360px;
}
.swiper-container-1 {
  padding-left: 54px;
  padding-right: 54px;
}
.catalog__text--main {
  font-family: "PFCentroSansPro", "Arial", sans-serif;
  top: 30%;
  background-color: #bc985e;
  text-align: center;
}
.catalog__item:hover .catalog__like {
  display: none;
}
.catalog__item:hover .catalog__text--main {
  animation-duration: 1s;
  animation-name: slideInUp;
}
.catalog__text--yellow {
  background-color: rgba(188, 152, 94, 0.6);
}
.product__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: baseline;
      align-items: baseline;
  margin-bottom: 53px;
}
.product__toggle {
  margin-right: 0;
}
.form__select-wrap {
  margin-right: 45px;
  position: relative;
}
.form__select-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  right: 42px;
  width: 2px;
  height: 40px;
  background-color: #a8a8a8;
}
.form__select {
  background-position: 95% 16px;
}
.product__item {
  border: none;
  padding: 0;
  margin-bottom: 41px;
}
.product__item:hover .product__img {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
.product__figure {
  padding: 30px;
  width: 271px;
  height: 367px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid rgba(82, 82, 82, 0.5);
}
.product__figure img {
  display: block;
}
.product__title {
  text-align: center;
  margin-top: 15px;
}
.product__price {
  text-align: center;
  border: none;
  padding: 0;
}
.product__list {
  background-image: none;
}
.product__form {
  padding-top: 10px;
}
.paginator {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 70px;
}
@media (max-width: 1229px) {
  .features-new,
  .catalog__wrap-new,
  .footer-new__wrap,
  .clients,
  .header-new__wrap,
  .menu--new .menu__list {
    width: 768px;
  }
  .menu--new .menu__btn {
    margin-top: 15px;
    background-image: url(../img/icon-menu-ham-yellow.svg);
  }
  .menu--new .menu--opened .menu__btn {
    margin-top: 15px;
    background-image: url(../img/icon-menu-cross-yellow.svg);
  }
  .menu--new .menu__list {
    position: absolute;
    top: 112px;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid #000;
    z-index: 50;
  }
  .menu--new .menu__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .header-new__wrap {
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }
  .features-new {
    padding-left: 10px;
    padding-right: 10px;
  }
  .features-new p {
    font-size: 16px;
  }
  .main-h2 {
    font-size: 20px;
  }
  .footer-new__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .social {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .swiper-container-1 {
    width: 700px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .swiper-slide-1 {
    width: 310px;
    height: 316px;
  }
  .product__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .product__item {
    width: auto;
  }
  .product__figure {
    width: 225px;
    height: 307px;
  }
}
@media (max-width: 767px) {
  .features-new,
  .catalog__wrap-new,
  .footer-new__wrap,
  .clients,
  .header-new__wrap,
  .menu--new .menu__list {
    width: 320px;
  }
  .swiper-container-1 {
    width: 280px;
  }
  .swiper-slide-1 {
    width: 240px;
    height: auto;
  }
  .menu--new .menu__btn,
  .menu--new .menu--opened .menu__btn {
    margin-top: 0;
  }
  .features-new__list {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .features-new__item:first-child,
  .features-new__item:nth-child(2),
  .features-new__item:nth-child(3) {
    width: 100%;
  }
  .footer-new__link {
    font-size: 20px;
  }
  .footer-new__link::before {
    top: 0;
  }
  .product__toggle,
  .form__select {
    font-size: 18px;
  }
  .product__wrap {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .paginator {
    padding-left: 0;
  }
  .paginator__link {
    font-size: 18px;
    margin-right: 15px;
  }
  .product__figure {
    width: 271px;
    height: 367px;
  }
  .form__select {
    background-position: 93% 16px;
  }
}
