.reset {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.breadcrumbs {
  margin-top: 180px;
  margin-bottom: 35px;
  padding-left: 30px;
}
.breadcrumbs__link {
  font-size: 30px;
  font-weight: 300;
  color: #d6ad70;
  line-height: 1.2;
  margin-right: 25px;
  position: relative;
}
.breadcrumbs__link::after {
  content: "/";
  position: absolute;
  top: 3px;
  right: -19px;
  color: #525252;
}
.breadcrumbs__link--active {
  color: #525252;
}
.breadcrumbs__link--active::after {
  display: none;
}
.blog__item--active {
  width: 770px;
}
.blog__item--active .blog__img {
  width: 702px;
  height: auto;
}
.blog__item--recent {
  width: 365px;
  -ms-flex-direction: column;
      flex-direction: column;
}
.blog__item--recent .blog__date {
  margin: 0;
  color: #d6ad70;
  font-size: 11px;
  line-height: 12px;
  padding-top: 38px;
  min-width: 35px;
}
.blog__item--recent .blog__date::before {
  background-image: url(../img/icon-calender-yellow.png);
}
.blog__item--recent .blog__name,
.blog__item--recent .blog__text--page {
  width: 365px;
}
.blog__item--recent .blog__img {
  width: 365px;
  height: auto;
}
.blog__date {
  text-transform: uppercase;
  min-width: 55px;
}
.blog__article {
  position: relative;
  margin-bottom: 50px;
  display: inline-block;
  vertical-align: top;
}
.blog__date-wrap {
  position: absolute;
  top: 9px;
  left: 12px;
  background-color: #fff;
  padding: 5px 13px;
}
.blog__name--page {
  font-size: 36px;
}
.blog__text--page {
  font-size: 20px;
}
.blog__link {
  display: block;
  color: #d6ad70;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 159px;
  line-height: 37px;
  border: 1px solid #bc985e;
}
.blog__link:hover,
.blog__link:active {
  background-color: #bc985e;
  color: #fff;
}
.blog__list--page {
  padding-left: 30px;
}
.title-recent {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  color: #6f6f6f;
  text-transform: uppercase;
  margin-top: 0;
  width: 365px;
}
@media (max-width: 1229px) {
  .blog__list--page {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .title-recent,
  .blog__item--recent {
    width: 100%;
  }
  .blog__item--recent {
    -ms-flex-direction: row;
        flex-direction: row;
    padding-right: 0;
  }
  .blog__article:nth-child(2n+1) {
    margin-right: 20px;
  }
  .blog__item--recent .blog__img {
    width: 350px;
    height: auto;
  }
  .blog__item--recent .blog__name,
  .blog__item--recent .blog__text--page {
    width: 350px;
  }
  .blog__item--active .blog__img {
    width: 630px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .breadcrumbs {
    margin-top: 130px;
    padding-left: 10px;
  }
  .breadcrumbs__link {
    font-size: 20px;
  }
  .blog__list--page {
    padding-left: 10px;
  }
  .blog__item--active {
    padding: 0;
  }
  .blog__item--active .blog__img {
    width: 280px;
    height: auto;
  }
  .blog__name--page {
    width: 280px;
    font-size: 24px;
  }
  .blog__item--recent,
  .title-recent,
  .blog__item--recent .blog__name,
  .blog__item--recent .blog__text--page,
  .blog__text--page {
    width: 280px;
  }
  .blog__item--recent .blog__date {
    padding-left: 0;
  }
  .blog__item--recent {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
