.header {
  width: 100%;
  background-color: @black;
}

.header__top {
  width: @max;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  padding-left: 40px;
  margin-left: 40px;
  color: #fff;
  font-size: 48px;
  flex-wrap: 600;
}
