.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__bg {
  background-color: @black;
}

.header__top {
  width: @max;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  padding-left: 40px;
  margin-left: 40px;
  color: #fff;
  font-size: 48px;
  flex-wrap: 600;
  position: relative;
  
  &:first-child::before {
    content: "";
    position: absolute;
    
  }
}
