@media @tablet {
  .wrapper {
    width: @max-tablet;
  }
  .header__top {
    width: @max-tablet;
    margin: 0 auto;
  }
  .header__block {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .header__link {
    font-size: 30px;
    line-height: 1.2;
    
    &::before {
      transform: scale(0.75) translateY(-60%);
    }
  }
  .menu__btn {
    display: block;
  }
  .menu--closed {
    padding-top: 10px;
    padding-bottom: 10px;
    
    .menu__list {
      display: none;
    }
  }
  .menu--opened {
    padding-top: 10px;
    
    .menu__btn {
      margin-bottom: 10px;
      background-image: url(../img/icon-menu-cross.svg);
    }
    .menu__list {
      width: @max-tablet;
      display: flex;
      flex-direction: column;
    }
    .menu__item {
      width: 100%;
    }
    .menu__link {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  .promo__block {
    margin-right: auto;
  }
  .features__list {
    width: 728px;
  }
  .features__item {
    font-size: 18px;
    
    b {
      font-size: 24px;
    }
  }
  .catalog__list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .catalog__img img {
    width: 350px;
    height: auto;
  }
  .history {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .history__block {
    margin-bottom: 40px;
  }
  .history__img {
    display: block;
    margin-left: 0;
    margin-right: auto;
  }
  .catalog__wrap {
    width: @max-tablet;
  }
  .swiper-container {
    width: 728px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .swiper-slide {
    width: 310px;
    height: 316px;
  }
  .blog__item {
    padding-right: 20px;
  }
  .map {
    height: 400px;
  }
  .map__adress {
    width: 316px;
    height: 400px;
  }
  .map__title {
    font-size: 24px;
  }
  .map__link,
  .map__text {
    font-size: 18px;
  }
  .map__item:last-child {
    padding-top: 90px;
  }
  .footer__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer__link {
    font-size: 24px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    height: 100%;
    top: 0;
    background-color: #fff;
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}

//---------------mobile
@media @mobile {
  .wrapper,
  .header__top,
  .menu__list,
  .catalog__wrap {
    width: @max-mobile !important;
  }
  .header__link {
    font-size: 14px;
    margin-left: 10px;
    padding-left: 20px;
    
    &::before {
      transform: none;
      top: 0;
      background-size: 40% 40%;
    }
  }
  .footer__logo,
  .logo__img {
    width: 100px;
    height: auto;
  }
  .menu__link {
    font-size: 18px;
    line-height: 40px;
  }
  .promo__block {
    width: 100%;
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .promo__title {
    font-size: 26px;
    margin-bottom: 25px;
  }
  .promo__item {
    font-size: 18px;
    
    span {
      font-size: 14px;
    }
  }
  .btn {
    width: 280px;
    font-size: 18px;
    line-height: 50px;
  }
  .features__list {
    flex-direction: column;
    width: 280px;
  }
  .features__item {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .catalog__text {
    font-size: 18px;
  }
  .history__title {
    font-size: 24px;
  }
  .history__text {
    font-size: 16px;
  }
  .title-h2 {
    font-size: 24px;
  }
  .swiper-container {
    width: 280px;
  }
  .swiper-slide {
    width: 240px;
    height: auto;
  }
  .review__text {
    font-size: 16px;
  }
  .review__author {
    font-size: 14px;
  }
  .blog__list {
    flex-direction: column;
  }
  .blog__item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }
  .blog__date {
    padding-top: 0;
    padding-left: 55px;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .map {
    display: flex;
    flex-direction: column;
    height: auto;
    
    iframe {
      order: 2;
      width: 100%;
      height: 300px;
    }
  }
  .map__adress {
    order: 1;
    position: static;
    transform: none;
    width: 100%;
  }
  .footer__wrap {
    flex-direction: column;
  }
  .footer__logo {
    order: 3;
  }
  .footer__link {
    font-size: 14px;
    padding-left: 20px;
    margin-bottom: 20px;
    
    &::before {
      transform: none;
      top: 2px;
      background-size: 40% 40%;
    }
  }
}